project/zecret
project/travis-deploy-key
project/secrets.tar.xz
target
test-output/
.sbtopts
.bsp
project/.sbt
test-output/
.bloop
.metals
metals.sbt
*/metals.sbt
.idea
coursier
.DS_Store
metals.sbt
project/metals.sbt
project/project/metals.sbt
sbt.json
.bsp/
project/project/
*.iml

.bsp/
.vscode